In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

# Spark session create
spark = SparkSession.builder.appName("BigDataAnalysis").getOrCreate()

In [3]:
# Dataset from internet (no need to download)
url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat"

# Columns manually define karte hain
columns = ["AirportID", "Name", "City", "Country", "IATA", "ICAO",
           "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", "Source"]

# CSV read karna
df = spark.read.csv(url, header=False, inferSchema=True)
df = df.toDF(*columns)

# Top 5 rows dekhte hain
df.show(5)

UnsupportedOperationException: None

# Task
Modify the empty code cell to download the CSV file from "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat" to a local temporary file, load it into a Spark DataFrame, rename the columns to "AirportID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", and "Source", and display the first 5 rows.

## Download the dataset

### Subtask:
Download the CSV file from the URL to a local temporary file.

**Reasoning**:
The previous cell failed because PySpark cannot directly read from a URL. I need to download the file first to a local temporary file before loading it into a Spark DataFrame. This step focuses on downloading the file.

In [4]:
import requests
import tempfile

url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat"

# Create a temporary file
temp_file = tempfile.NamedTemporaryFile(delete=False)

# Download the content
response = requests.get(url)

# Write the content to the temporary file
with open(temp_file.name, 'wb') as f:
    f.write(response.content)

# The temporary file path is stored in temp_file.name
print(f"Downloaded file to: {temp_file.name}")

Downloaded file to: /tmp/tmpayak1kcw

**Reasoning**:
I have successfully downloaded the file to a temporary location. The next step is to load this temporary file into a Spark DataFrame and perform the requested operations. This completes the overall subtask of downloading and preparing the data in Spark.

In [5]:
# Columns manually define karte hain
columns = ["AirportID", "Name", "City", "Country", "IATA", "ICAO",
           "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", "Source"]

# CSV read karna from the temporary file
df = spark.read.csv(temp_file.name, header=False, inferSchema=True)
df = df.toDF(*columns)

# Top 5 rows dekhte hain
df.show(5)

+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
|AirportID|                Name|        City|         Country|IATA|ICAO|          Latitude|         Longitude|Altitude|Timezone|DST|                  Tz|   Type|     Source|
+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
|        1|      Goroka Airport|      Goroka|Papua New Guinea| GKA|AYGA|-6.081689834590001|     145.391998291|    5282|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        2|      Madang Airport|      Madang|Papua New Guinea| MAG|AYMD|    -5.20707988739|     145.789001465|      20|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        3|Mount Hagen Kagam...| Mount Hagen|Papua New Guinea| HGU|AYMH|-5.826789855957031|144.29600524902344|    5388|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        4|      Nadzab Airport|      Nadzab|Papua New Guinea| LAE|AYNZ|         -6.569803|        146.725977|     239|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        5|Port Moresby Jack...|Port Moresby|Papua New Guinea| POM|AYPY|-9.443380355834961|147.22000122070312|     146|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
only showing top 5 rows

## Load the dataset

### Subtask:
Load the downloaded CSV file into a Spark DataFrame.

**Reasoning**:
Load the data from the temporary file path into a Spark DataFrame.

In [6]:
df = spark.read.csv(temp_file.name, header=False, inferSchema=True)

## Rename columns and display data

### Subtask:
Rename the columns of the DataFrame and display the first few rows as requested in the original code.

**Reasoning**:
Rename the columns of the DataFrame and display the first 5 rows as requested.

In [7]:
# Columns manually define karte hain
columns = ["AirportID", "Name", "City", "Country", "IATA", "ICAO",
           "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", "Source"]

# Rename columns
df = df.toDF(*columns)

# Top 5 rows dekhte hain
df.show(5)

+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
|AirportID|                Name|        City|         Country|IATA|ICAO|          Latitude|         Longitude|Altitude|Timezone|DST|                  Tz|   Type|     Source|
+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
|        1|      Goroka Airport|      Goroka|Papua New Guinea| GKA|AYGA|-6.081689834590001|     145.391998291|    5282|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        2|      Madang Airport|      Madang|Papua New Guinea| MAG|AYMD|    -5.20707988739|     145.789001465|      20|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        3|Mount Hagen Kagam...| Mount Hagen|Papua New Guinea| HGU|AYMH|-5.826789855957031|144.29600524902344|    5388|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        4|      Nadzab Airport|      Nadzab|Papua New Guinea| LAE|AYNZ|         -6.569803|        146.725977|     239|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
|        5|Port Moresby Jack...|Port Moresby|Papua New Guinea| POM|AYPY|-9.443380355834961|147.22000122070312|     146|      10|  U|Pacific/Port_Moresby|airport|OurAirports|
+---------+--------------------+------------+----------------+----+----+------------------+------------------+--------+--------+---+--------------------+-------+-----------+
only showing top 5 rows

## Summary:

### Data Analysis Key Findings

*   The CSV file from the provided URL was successfully downloaded to a local temporary file.
*   The data was loaded into a Spark DataFrame without a header, and the schema was inferred.
*   The columns of the DataFrame were successfully renamed to "AirportID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", and "Source".
*   The first 5 rows of the DataFrame with the new column names were displayed.

### Insights or Next Steps

*   The data is now prepared in a Spark DataFrame with meaningful column names for further analysis or processing.
*   The temporary file created during the download process should be properly managed (e.g., deleted) if not needed for subsequent steps to free up disk space.

In [8]:
print("Total Airports:", df.count())

Total Airports: 7698

In [9]:
df.groupBy("Country").count().orderBy("count", ascending=False).show(10)

+--------------+-----+
|       Country|count|
+--------------+-----+
| United States| 1512|
|        Canada|  430|
|     Australia|  334|
|        Russia|  264|
|        Brazil|  264|
|       Germany|  249|
|         China|  241|
|        France|  217|
|United Kingdom|  167|
|         India|  148|
+--------------+-----+
only showing top 10 rows

In [10]:
df.filter(df.Country == "India").select("Name", "City").show(10)

+--------------------+----------+
|                Name|      City|
+--------------------+----------+
|Sardar Vallabhbha...| Ahmedabad|
|       Akola Airport|     Akola|
|  Aurangabad Airport|Aurangabad|
|Chhatrapati Shiva...|    Mumbai|
|    Bilaspur Airport|  Bilaspur|
|        Bhuj Airport|      Bhuj|
|     Belgaum Airport|   Belgaum|
|    Vadodara Airport|    Baroda|
|Raja Bhoj Interna...|    Bhopal|
|   Bhavnagar Airport| Bhaunagar|
+--------------------+----------+
only showing top 10 rows

In [11]:
df.filter(df.Country == "United Kingdom").select("Name", "City").show(10)

+--------------------+-----------------+
|                Name|             City|
+--------------------+-----------------+
|Belfast Internati...|          Belfast|
|   St Angelo Airport|      Enniskillen|
|George Best Belfa...|          Belfast|
|City of Derry Air...|      Londonderry|
|Birmingham Intern...|       Birmingham|
|    Coventry Airport|         Coventry|
|   Leicester Airport|        Leicester|
|Gloucestershire A...|Golouchestershire|
|Wolverhampton Hal...|  Halfpenny Green|
|    Cotswold Airport|          Pailton|
+--------------------+-----------------+
only showing top 10 rows